body {
  background-color: white;
  margin: 0;
  font-family: "myriad-pro", sans-serif;
}

.swiper-container {
  background: url("./assets/page/partners.webp") no-repeat center center;
  background-size: cover;
}
